.logo {
    display: block;
    color: #666666;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 5%;
}

.logo:hover {
    color: #444444;
}

.navbar {
    padding-left: 1%;
    padding-right: 1%;
}

.account-icon {
    color: #666666;
}

.nav-items {
    margin-right: 0 !important;
}

.nav-item {
    color: #666666;
    padding: 12px 16px;
    text-decoration: none;
}

.profile-item {
    color: #666666;
    text-decoration: none;
}

.nav-item:hover {
    color: #444444;
}

.dropdown-color a {
    color: #666666 !important;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}